
<nav class="navbar navbar-expand-lg" style="background-color: #383838">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" >
      <img
        src="https://cdn-icons-png.flaticon.com/512/3486/3486510.png"
        height="90"
        alt=""
        loading="lazy"
        style="margin-top: -2px;"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"

      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <h2 style="color:#ffffff"> Catálogo de Productos</h2>
    <h4 style="color:#ffffff; margin-left:230px"> Administrador</h4>



      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">


      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">

        <button class="btn btn-primary me-3 "routerLink="/dashboard" style="color: #ffffff; font-weight: bold; font-size: 20px;"  >
          Dashboard</button>


        <button type="button"   (click)="alertacierre()" class="btn btn-danger pull-right" style="color: #ffffff; font-weight: bold; font-size: 20px;">
          Cerrar sesión
        </button>



      </div>
    </div>
    <!-- Collapsible wrapper -->

</nav>
<!-- Navbar -->
