<body>



<br><br><br><br>
<div class="container">
  <div class="row align-items-center" >
    <div class="col-lg-6 col-xl-5 ms-xl-auto px-lg-4 text-center text-primary" ><img class="img-fluid mb-4" width="250" src="https://cdn-icons-png.flaticon.com/512/3534/3534139.png" alt="" >
      <h1 class="mb-4"  style="color:#ffffff" ><br class="d-none d-lg-inline" >Sistema de Catálogo de Productos.</h1>

    </div>
    <!-- register -->
    <div class="col-lg-6 px-lg-4">
      <div class="card" >
        <div class="card-header px-lg-5" style="background-color: #414b59" >
          <div class="card-heading "   > <h1 style="color:#F3EDE0">Registro de usuario</h1></div>
        </div>
        <div class="card-body p-lg-5" >
          <h3 class="mb-4">Registrate</h3>
          <p class="text-muted text-sm mb-5">Ingresa tus datos para completar el registro</p>
          <form [formGroup]="UserForm" (ngSubmit)="saveUser()">

            <div class="form-floating mb-3">
              <input formControlName="name" name="name" class="form-control" id="name" type="text" placeholder="Juanito Perez" required>
              <label for="username">Nombre completo</label>
            </div>


            <div class="form-floating mb-3">
              <input formControlName="nickname" name="nickname" class="form-control" id="username" type="email" placeholder="name@example.com" required>
              <label for="username">Nombre de usuario</label>
            </div>

            <div class="form-floating mb-3">
              <input formControlName="password" class="form-control" id="floatingPassword" type="password" placeholder="Password" required>
              <label for="floatingPassword">Contraseña</label>
            </div>

            <div class="form-floating mb-3">
              <input formControlName="repeatedPassword" class="form-control" id="RepeatPassword" type="password" placeholder="Password" required>
              <label for="floatingPassword">Repite tu Contraseña</label>
            </div>
            <!-- <div class="form-check mb-3">
               <input class="form-check-input" type="checkbox" name="agree" id="agree">
               <label class="form-check-label" for="agree">I agree with the <a href="#">Terms & Conditions</a>.</label>
             </div>-->
            <div class="form-check">
              <input formControlName="userType"  value="1" class="form-check-input" type="radio" checked>
              <label  class="form-check-label" >
                Quiero ver productos
              </label>
            </div>
            <div class="form-check">
              <input formControlName="userType"  value="2"  class="form-check-input" type="radio" >
              <label  class="form-check-label" >
                Quiero publicar mis productos
              </label>
            </div>
            <div class="form-group">
              <br>

              <button class="btn btn-primary "
                      style="float: right; background-color:#414b59"

                      type="submit" >Registrarse <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
              </svg></button>
            </div>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>
<br><br><br><br>
<br><br><br><br>


</body>











