<app-navbarc></app-navbarc>
<body >

<div class="col-md-5 mx-auto">
  <div class="small fw-light">rounded search input with icon</div>



  <form [formGroup]="UserForm" (ngSubmit)="getProductos()">


    <div class="input-group">
      <input class="form-control border-end-0 border" formControlName="busqueda" type="search" value="" id="example-search-input">
      <span class="input-group-append">
                    &nbsp;
        <button class="btn btn-success bg-green border-start-0 border-bottom-0 border ms-n5 "
                style="float: right; font-size: 20px; margin-left: 20px;"
                type="submit" >Buscar</button>
                </span>
      <br>



    </div>

    <div class="form-check-inline">
      <input formControlName="userType"  value="Todo" class="form-check-input" type="radio" checked>
      <label  class="form-check-label" style="color:#ffffff" >
        Todo
      </label>
    </div>
    <div class="form-check-inline">
      <input formControlName="userType"  value="Computacion"  class="form-check-input" type="radio"  >
      <label  class="form-check-label" style="color:#ffffff">
        Computación
      </label>
    </div>
    <div class="form-check-inline">
      <input formControlName="userType"  value="Telefonia"  class="form-check-input" type="radio" >
      <label  class="form-check-label"style="color:#ffffff" >
        Telefonía
      </label>
    </div>
    <div class="form-check-inline">
      <input formControlName="userType"  value="Audio"  class="form-check-input" type="radio" >
      <label  class="form-check-label"style="color:#ffffff" >
        Audio
      </label>
    </div>
    <div class="form-check-inline">
      <input formControlName="userType"  value="Accesorios"  class="form-check-input" type="radio" >
      <label  class="form-check-label"style="color:#ffffff" >
       Accesorios
      </label>
    </div>
    <div class="form-check-inline">
      <input formControlName="userType"  value="Electrodomesticos"  class="form-check-input" type="radio" >
      <label  class="form-check-label" style="color:#ffffff" >
        Electrodomésticos
      </label>
    </div>
    <div class="form-check-inline">
      <input formControlName="userType"  value="Mas"  class="form-check-input" type="radio" >
      <label  class="form-check-label" style="color:#ffffff">
      Más
      </label>
    </div>

    <div class="form-group">
      <br>


    </div>

  </form>





</div>



<br><br>
<table class="table justify-content-center text-center">
  <thead >
  <tr>

    <th style="color:#ffffff;">Nombre</th>
    <th style="color:#ffffff">Categoría</th>
    <th style="color:#ffffff">Marca</th>


  </tr>
  </thead>
  <tbody>



  <tr *ngFor="let producto of Productos ; index as i" class="tableRow">
    <td style="color: #ffffff;">
      {{producto.nombre}}
    </td>

    <td style="color: #ffffff;">
      {{producto.categoria}}
    </td>
    <td style="color: #ffffff;">
      {{producto.marca}}
    </td>
    <td style="color: #ffffff;">
      <img [attr.src]="producto.imagen" width="80" height=auto />
    </td>



    <td>
      <!-- (click)="alertaedit(usuario)"
       (click)="alertaelim(usuario.idEstadia)"-->
      <button class="btn btn-success pull-right" id="edit"  (click)="info(producto)"  data-bs-toggle="modal" data-bs-target="#modalVerProducto" style="background-color:#034d9f" ><a style="color: #F3EDE0" > Ver más </a> </button>

    </td>

  </tr>

  </tbody>
</table>
<br> <br><br><br><br> <br> <br><br><br><br> <br> <br><br><br><br> <br> <br>


<div class="modal fade" id="modalVerProducto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titulo">Detalles del Producto</h5>
        <button id="cerrar" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #cerrarEdit></button>
      </div>
       <!--(ngSubmit)="editarUsuario()"-->
        <div class="modal-body">
          <div class="form-group formulario">
            <th for="nombre">Nombre:</th>
            <p id="nombre"   >{{prod.nombre}}</p>

          </div>
          <div class="form-group  formulario">
            <th for="descripcion">Descripción:</th>
            <p id="descripcion">{{prod.descripcion}}</p>
          </div>

          <div class="form-group  formulario">
            <th for="marca">Marca:</th>
            <p id="marca">{{prod.marca}}</p>
          </div>

          <div class="form-group  formulario" >
            <th for="imagen">Imagen:</th><br>
            <img id="imagen" [attr.src]="prod.imagen" width="350" height=auto />

            <br><br>

            <form [formGroup]="CalForm" (ngSubmit)="setCal(prod)">

              <button class="btn btn-success"
                      data-bs-dismiss="modal"
                      style="float:   left; background-color:#4157ff"

                      type="submit" >Calificar</button>
              <p class="clasificacion"  style="float:   left; background-color:#ffffff ">
                <input id="radio1" type="radio" formControlName="estrellas" value="5" style=" display: none;"><!--


    --><label for="radio1">★</label><!--
    --><input id="radio2" type="radio" formControlName="estrellas" value="4" style=" display: none;"><!--
    --><label for="radio2">★</label><!--
    --><input id="radio3" type="radio" formControlName="estrellas" value="3" style=" display: none;"><!--
    --><label for="radio3">★</label><!--
    --><input id="radio4" type="radio"formControlName="estrellas" value="2" style=" display: none;"><!--
    --><label for="radio4">★</label><!--
    --><input id="radio5" type="radio" formControlName="estrellas" value="1" style=" display: none;"><!--
    --><label for="radio5">★</label>
              </p>
            </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>

        </div>
        </div>

    </div>
  </div>
</div>
