<app-navbard></app-navbard>
<body >
<div class="row justify-content-center">

  <div class="col-lg-6 " >

    <h2 style="color: white">Número de vistas de productos </h2>
    <canvas id="piechart"></canvas>


  </div>
  <div class="col-lg-6" style="width: 350px; height: auto">

    <h2 style="color: white">Número de vistas de productos </h2>
    <canvas id="chart2"></canvas>


  </div>
</div>




<form [formGroup]="UserForm" (ngSubmit)="getMarca()">


  <div class="input-group">
    <span class="input-group-append">
                    &nbsp;
        <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5 "
                style="float: right; background-color:#414b59"

                type="submit" >buscar</button>
                </span>
    <br>



  </div>

  <div class="form-check-inline">
    <input formControlName="userType"  value="hp" class="form-check-input" type="radio" checked>
    <label  class="form-check-label" style="color:#ffffff" >
      hp
    </label>
  </div>
  <div class="form-check-inline">
    <input formControlName="userType"  value="LG"  class="form-check-input" type="radio"  >
    <label  class="form-check-label" style="color:#ffffff">
      LG
    </label>
  </div>
  <div class="form-check-inline">
    <input formControlName="userType"  value="Sony"  class="form-check-input" type="radio" >
    <label  class="form-check-label"style="color:#ffffff" >
      Sony
    </label>
  </div>
  <div class="form-check-inline">
    <input formControlName="userType"  value="Cannon"  class="form-check-input" type="radio" >
    <label  class="form-check-label"style="color:#ffffff" >
      Cannon
    </label>
  </div>
  <div class="form-check-inline">
    <input formControlName="userType"  value="Appple"  class="form-check-input" type="radio" >
    <label  class="form-check-label"style="color:#ffffff" >
     Appple
    </label>
  </div>





  <div class="row">

    <div class="col-lg-6 " >

      <h2 style="color: white">Numero de productos por marca </h2>
      <canvas id="piechart2"></canvas>


    </div>

  </div>




</form>

<form [formGroup]="UserForm2" (ngSubmit)="getCategoria()">


  <div class="input-group">
    <span class="input-group-append">
                    &nbsp;
        <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5 "
                style="float: right; background-color:#414b59"

                type="submit" >buscar</button>
                </span>
    <br>



  </div>

  <div class="form-check-inline">
    <input formControlName="userType2"  value="Computacion" class="form-check-input" type="radio" checked>
    <label  class="form-check-label" style="color:#ffffff" >
      Computacion
    </label>
  </div>
  <div class="form-check-inline">
    <input formControlName="userType2"  value="Electrodomesticos"  class="form-check-input" type="radio"  >
    <label  class="form-check-label" style="color:#ffffff">
      Electrodomesticos
    </label>
  </div>
  <div class="form-check-inline">
    <input formControlName="userType2"  value="Audio"  class="form-check-input" type="radio" >
    <label  class="form-check-label"style="color:#ffffff" >
      Audio
    </label>
  </div>
  <div class="form-check-inline">
    <input formControlName="userType2"  value="Telefonia"  class="form-check-input" type="radio" >
    <label  class="form-check-label"style="color:#ffffff" >
      Telefonia
    </label>
  </div>
  <div class="form-check-inline">
    <input formControlName="userType2"  value="Mas"  class="form-check-input" type="radio" >
    <label  class="form-check-label"style="color:#ffffff" >
     Mas
    </label>
  </div>





  <div class="row">

    <div class="col-lg-6 " >

      <h2 style="color: white">Numero de productos por categoria </h2>
      <canvas id="piechart3"></canvas>


    </div>

  </div>


  <div class="form-group">
    <br>


  </div>

</form>





<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
